.page {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; }
  .page > header {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0.75rem 1rem;
    margin: 1.5rem 0; }
  .page > .content > article {
    margin: 0 0 1.5rem;
    padding: 1.5rem 1rem; }
    .page > .content > article > header {
      font-size: 1.125rem;
      font-weight: 300;
      padding: 0.75rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
