<head>
  <base href="/">
  <link rel="stylesheet" href="client/styles/app.css">
  <script src="https://unpkg.com/react@15/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.20.9/system.js"></script>
  <script src="client/systemjs.config.js"></script>
</head>
<body>
  <div class="page">
    <nav></nav>
    <header>Somebuddy pages</header>
    <section class="content">
      <article>
        <header>Work timer</header>
        <section class="content" id="timer"></section>
      </article>
    </section>
    <footer></footer>
  </div>

  <script>
    System.import('app')
          .then(null, console.error.bind(console));
  </script>
</body>
