$line-height: 1.5rem !default;
$column-width: 1rem !default;

.dashboard {
  display: flex;
  flex-flow: row wrap;
  padding: $line-height/2 $column-width;

  > .widget {
    padding: calc(#{ $line-height / 2 } - 1px) calc(#{ $line-height / 2 } - 1px) calc(#{ $line-height / 2 } - 2px);
    margin-bottom: 2px;
    margin-left: 2px;
    border: 1px solid rgba(0,0,0,.2);
    background: white;
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
  }
}
