$line-height: 1.5rem !default;
$column-width: 1rem !default;
$secondary-opacity: 0.6;

.useful-flag {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;
  margin-right: 0;
  padding: $line-height/2 $column-width;
  z-index: 10;
  cursor: pointer;

  .icon {
    position: relative;
    width: $column-width;
    height: $column-width;
    margin-right: $column-width/2;
    background: transparent;
    border-radius: 3px;
    border: 1px solid rgba(50, 50, 50, $secondary-opacity);
  }

  .label {
    font-size: 0.625rem;
    line-height: $line-height/2;
    color: rgba(50, 50, 50, $secondary-opacity);
    white-space: nowrap;
    text-align: center;
  }

  &.checked > .icon {
    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: 5px;
      width: $column-width * .3;
      height: $column-width * .6;
      border: solid rgba(0, 0, 0, $secondary-opacity);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: $line-height / 2;
  font-weight: 600;
  letter-spacing: .25px;
  padding: $line-height/4 $column-width/2;
  margin: calc(#{$line-height / 4} - 2px) $column-width/2;
  opacity: $secondary-opacity;
  transition: opacity .3s ease;

  &:hover, &:focus {
    outline: none;
    opacity: 1;
    cursor: pointer;
  }

  &.delete {
    background: #d50000;
    color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
  }
}

.timer {
  padding: $line-height/2 $column-width;

  header {
    font-size: 0.6875rem;
    opacity: $secondary-opacity;
    margin-right: $column-width / 2;
    font-variant: small-caps;
  }

  .value.main {
    transform: scaleY(1.3333333);
  }

  .value.secondary {
    font-size: $line-height/2;
    line-height: $line-height/2;
    opacity: $secondary-opacity;
  }
}

.time-slot {
  flex-flow: row nowrap;
  min-height: 2 * $line-height;

  &:hover {
    background: rgba(200,255,255,.2);
  }

  &,
  > *,
  > .period > .dates,
  > .period > .times {
    display: flex;
    align-content: center;
    align-items: center;
  }

  > * {
    flex-flow: column nowrap;
  }

  .useful-flag {
    background: rgba(244,67,54,.3);

    & > .icon {
      margin: calc(#{ $line-height/4 } - 2px) 0;
    }

    & + .period {
      background: rgba(244,67,54,.1);
    }

    &, & + .period {
      margin: -1px 0;
      border-top: 1px solid rgba(0,0,0,.05);
      border-bottom: 1px solid rgba(0,0,0,.05);
    }
  }

  .useful-flag.checked {
    background: rgba(192,202,51 ,.5);

    & + .period {
      background: rgba(192,202,51 ,.3);
    }
  }

  .period {
    padding: $line-height/2 $column-width;
    margin-right: $column-width;
    align-items: stretch;
    align-content: stretch;

    .dates,
    .times {
      .start, .finish {
        flex: 1 1 auto;
        white-space: nowrap;
      }
    }

    .dates,
    .times {
      .finish {
        margin-left: $column-width;
      }
    }

    .dates {
      font-size: $line-height / 2;
      line-height: $line-height / 2;
      opacity: $secondary-opacity;
    }

    .times {
      font-size: 0.875rem;
      transform: scaleY(1.3333333);
    }
  }

  .comment {
    flex: 1 1 auto;
    align-self: flex-start;
    align-items: stretch;
    align-content: stretch;
    opacity: $secondary-opacity;
    font-size: $line-height/2;
    font-weight: 500;
    padding: $line-height/2 $column-width;

    .label {
      opacity: $secondary-opacity;
      line-height: $line-height/2;
      text-transform: lowercase;
      font-size: 0.8em;
    }
  }

  .timer {
    align-items: flex-end;
  }

  .actions {
    margin-right: 0;
  }
}
