$line-height: 1.5rem !default;
$column-width: 1rem !default;
$secondary-opacity: 0.6;

.widget.time-set {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;

  & > .start-time,
  & > .comment {
    flex: 1 1 100%;
  }

  & > .useful-flag {
    position: absolute;
    top: 0;
    right: 0;
  }

  & > .comment {
    margin-bottom: $line-height/2;

    > .label {
      font-size: 0.6875rem;
      line-height: $line-height/2;
      opacity: $secondary-opacity;
      font-variant: small-caps;
    }

    > .value {
      font-size: 0.75rem;
      font-weight: 400;
    }
  }

  & > .start-time {
    display: flex;

    header {
      font-size: 0.6875rem;
      opacity: $secondary-opacity;
      margin-right: $column-width / 2;
      font-variant: small-caps;
    }

    .value {
      font-size: 0.75rem;
      font-weight: 400;
    }
  }

  > .timer {
    flex: 1 1 auto;
    padding: $line-height/2 0;

    .value.main {
      line-height: 2 * $line-height;
      font-size: $line-height;
    }

    .value.secondary {
      line-height: $line-height;
    }

    &.now {

    }
  }

  .actions {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: $line-height/2 0;
  }

  .time-slots {
    margin-top: $line-height;
    flex: 1 1 100%;

    & > .time-slot {
      border-top: 1px solid rgba(0,0,0,.1);

      &:last-child {
        border-bottom: 1px solid rgba(0,0,0,.1);
      }
    }
  }
}
