@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
/* Imports from third party sources */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,500italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700,300italic,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400italic,400,900,300italic,300,700,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:700,400,700italic,400italic);
/*
  List of default values of parameters
*/
/*
  Reset default browser styles
*/
*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html, body,
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, canvas,
caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins,
kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section,
small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr,
tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

embed, img, object, video {
  max-width: 100%; }

blockquote, q {
  quotes: none; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-webkit-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/*
  List of default values of parameters
*/
html, body {
  width: 100%;
  height: 100%; }

html {
  font-size: 16px;
  overflow: hidden; }

body {
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto; }

.font-sans {
  font-family: Roboto, "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Tahoma, Verdana, Geneva, Arial, sans-serif; }

.font-condensed {
  font-family: "Roboto Condensed", "Open Sans Condensed", "Helvetica Condensed", "Arial Narrow", sans-serif; }

.font-slab {
  font-family: "Roboto Slab", Georgia, serif; }

.font-serif {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif; }

.font-mono {
  font-family: "Ubuntu Mono", "Lucida Console", monospace; }

.font-mono-serif {
  font-family: "Anonymous Pro", Consolas, monaco, "Courier New", Courier, monospace; }

.body-font, body {
  font-family: Roboto, "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Tahoma, Verdana, Geneva, Arial, sans-serif;
  line-height: 1.5rem;
  font-weight: 400; }

.page {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; }
  .page > header {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0.75rem 1rem;
    margin: 1.5rem 0; }
  .page > .content > article {
    margin: 0 0 1.5rem;
    padding: 1.5rem 1rem; }
    .page > .content > article > header {
      font-size: 1.125rem;
      font-weight: 300;
      padding: 0.75rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.dashboard {
  display: flex;
  flex-flow: row wrap;
  padding: 0.75rem 1rem; }
  .dashboard > .widget {
    padding: calc(0.75rem - 1px) calc(0.75rem - 1px) calc(0.75rem - 2px);
    margin-bottom: 2px;
    margin-left: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); }

.useful-flag {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;
  margin-right: 0;
  padding: 0.75rem 1rem;
  z-index: 10;
  cursor: pointer; }
  .useful-flag .icon {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    background: transparent;
    border-radius: 3px;
    border: 1px solid rgba(50, 50, 50, 0.6); }
  .useful-flag .label {
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: rgba(50, 50, 50, 0.6);
    white-space: nowrap;
    text-align: center; }
  .useful-flag.checked > .icon:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 0.3rem;
    height: 0.6rem;
    border: solid rgba(0, 0, 0, 0.6);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }

.btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 600;
  letter-spacing: .25px;
  padding: 0.375rem 0.5rem;
  margin: calc(0.375rem - 2px) 0.5rem;
  opacity: 0.6;
  transition: opacity .3s ease; }
  .btn:hover, .btn:focus {
    outline: none;
    opacity: 1;
    cursor: pointer; }
  .btn.delete {
    background: #d50000;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px; }

.timer {
  padding: 0.75rem 1rem; }
  .timer header {
    font-size: 0.6875rem;
    opacity: 0.6;
    margin-right: 0.5rem;
    font-variant: small-caps; }
  .timer .value.main {
    transform: scaleY(1.33333); }
  .timer .value.secondary {
    font-size: 0.75rem;
    line-height: 0.75rem;
    opacity: 0.6; }

.time-slot {
  flex-flow: row nowrap;
  min-height: 3rem; }
  .time-slot:hover {
    background: rgba(200, 255, 255, 0.2); }
  .time-slot,
  .time-slot > *,
  .time-slot > .period > .dates,
  .time-slot > .period > .times {
    display: flex;
    align-content: center;
    align-items: center; }
  .time-slot > * {
    flex-flow: column nowrap; }
  .time-slot .useful-flag {
    background: rgba(244, 67, 54, 0.3); }
    .time-slot .useful-flag > .icon {
      margin: calc(0.375rem - 2px) 0; }
    .time-slot .useful-flag + .period {
      background: rgba(244, 67, 54, 0.1); }
    .time-slot .useful-flag, .time-slot .useful-flag + .period {
      margin: -1px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .time-slot .useful-flag.checked {
    background: rgba(192, 202, 51, 0.5); }
    .time-slot .useful-flag.checked + .period {
      background: rgba(192, 202, 51, 0.3); }
  .time-slot .period {
    padding: 0.75rem 1rem;
    margin-right: 1rem;
    align-items: stretch;
    align-content: stretch; }
    .time-slot .period .dates .start, .time-slot .period .dates .finish,
    .time-slot .period .times .start,
    .time-slot .period .times .finish {
      flex: 1 1 auto;
      white-space: nowrap; }
    .time-slot .period .dates .finish,
    .time-slot .period .times .finish {
      margin-left: 1rem; }
    .time-slot .period .dates {
      font-size: 0.75rem;
      line-height: 0.75rem;
      opacity: 0.6; }
    .time-slot .period .times {
      font-size: 0.875rem;
      transform: scaleY(1.33333); }
  .time-slot .comment {
    flex: 1 1 auto;
    align-self: flex-start;
    align-items: stretch;
    align-content: stretch;
    opacity: 0.6;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.75rem 1rem; }
    .time-slot .comment .label {
      opacity: 0.6;
      line-height: 0.75rem;
      text-transform: lowercase;
      font-size: 0.8em; }
  .time-slot .timer {
    align-items: flex-end; }
  .time-slot .actions {
    margin-right: 0; }

.widget.time-set {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap; }
  .widget.time-set > .start-time,
  .widget.time-set > .comment {
    flex: 1 1 100%; }
  .widget.time-set > .useful-flag {
    position: absolute;
    top: 0;
    right: 0; }
  .widget.time-set > .comment {
    margin-bottom: 0.75rem; }
    .widget.time-set > .comment > .label {
      font-size: 0.6875rem;
      line-height: 0.75rem;
      opacity: 0.6;
      font-variant: small-caps; }
    .widget.time-set > .comment > .value {
      font-size: 0.75rem;
      font-weight: 400; }
  .widget.time-set > .start-time {
    display: flex; }
    .widget.time-set > .start-time header {
      font-size: 0.6875rem;
      opacity: 0.6;
      margin-right: 0.5rem;
      font-variant: small-caps; }
    .widget.time-set > .start-time .value {
      font-size: 0.75rem;
      font-weight: 400; }
  .widget.time-set > .timer {
    flex: 1 1 auto;
    padding: 0.75rem 0; }
    .widget.time-set > .timer .value.main {
      line-height: 3rem;
      font-size: 1.5rem; }
    .widget.time-set > .timer .value.secondary {
      line-height: 1.5rem; }
  .widget.time-set .actions {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.75rem 0; }
  .widget.time-set .time-slots {
    margin-top: 1.5rem;
    flex: 1 1 100%; }
    .widget.time-set .time-slots > .time-slot {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      .widget.time-set .time-slots > .time-slot:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
