.dashboard {
  display: flex;
  flex-flow: row wrap;
  padding: 0.75rem 1rem; }
  .dashboard > .widget {
    padding: calc(0.75rem - 1px) calc(0.75rem - 1px) calc(0.75rem - 2px);
    margin-bottom: 2px;
    margin-left: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); }
