.useful-flag {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;
  margin-right: 0;
  padding: 0.75rem 1rem;
  z-index: 10;
  cursor: pointer; }
  .useful-flag .icon {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    background: transparent;
    border-radius: 3px;
    border: 1px solid rgba(50, 50, 50, 0.6); }
  .useful-flag .label {
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: rgba(50, 50, 50, 0.6);
    white-space: nowrap;
    text-align: center; }
  .useful-flag.checked > .icon:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 0.3rem;
    height: 0.6rem;
    border: solid rgba(0, 0, 0, 0.6);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }

.btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 600;
  letter-spacing: .25px;
  padding: 0.375rem 0.5rem;
  margin: calc(0.375rem - 2px) 0.5rem;
  opacity: 0.6;
  transition: opacity .3s ease; }
  .btn:hover, .btn:focus {
    outline: none;
    opacity: 1;
    cursor: pointer; }
  .btn.delete {
    background: #d50000;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px; }

.timer {
  padding: 0.75rem 1rem; }
  .timer header {
    font-size: 0.6875rem;
    opacity: 0.6;
    margin-right: 0.5rem;
    font-variant: small-caps; }
  .timer .value.main {
    transform: scaleY(1.33333); }
  .timer .value.secondary {
    font-size: 0.75rem;
    line-height: 0.75rem;
    opacity: 0.6; }

.time-slot {
  flex-flow: row nowrap;
  min-height: 3rem; }
  .time-slot:hover {
    background: rgba(200, 255, 255, 0.2); }
  .time-slot,
  .time-slot > *,
  .time-slot > .period > .dates,
  .time-slot > .period > .times {
    display: flex;
    align-content: center;
    align-items: center; }
  .time-slot > * {
    flex-flow: column nowrap; }
  .time-slot .useful-flag {
    background: rgba(244, 67, 54, 0.3); }
    .time-slot .useful-flag > .icon {
      margin: calc(0.375rem - 2px) 0; }
    .time-slot .useful-flag + .period {
      background: rgba(244, 67, 54, 0.1); }
    .time-slot .useful-flag, .time-slot .useful-flag + .period {
      margin: -1px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .time-slot .useful-flag.checked {
    background: rgba(192, 202, 51, 0.5); }
    .time-slot .useful-flag.checked + .period {
      background: rgba(192, 202, 51, 0.3); }
  .time-slot .period {
    padding: 0.75rem 1rem;
    margin-right: 1rem;
    align-items: stretch;
    align-content: stretch; }
    .time-slot .period .dates .start, .time-slot .period .dates .finish,
    .time-slot .period .times .start,
    .time-slot .period .times .finish {
      flex: 1 1 auto;
      white-space: nowrap; }
    .time-slot .period .dates .finish,
    .time-slot .period .times .finish {
      margin-left: 1rem; }
    .time-slot .period .dates {
      font-size: 0.75rem;
      line-height: 0.75rem;
      opacity: 0.6; }
    .time-slot .period .times {
      font-size: 0.875rem;
      transform: scaleY(1.33333); }
  .time-slot .comment {
    flex: 1 1 auto;
    align-self: flex-start;
    align-items: stretch;
    align-content: stretch;
    opacity: 0.6;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.75rem 1rem; }
    .time-slot .comment .label {
      opacity: 0.6;
      line-height: 0.75rem;
      text-transform: lowercase;
      font-size: 0.8em; }
  .time-slot .timer {
    align-items: flex-end; }
  .time-slot .actions {
    margin-right: 0; }
