.widget.time-set {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap; }
  .widget.time-set > .start-time,
  .widget.time-set > .comment {
    flex: 1 1 100%; }
  .widget.time-set > .useful-flag {
    position: absolute;
    top: 0;
    right: 0; }
  .widget.time-set > .comment {
    margin-bottom: 0.75rem; }
    .widget.time-set > .comment > .label {
      font-size: 0.6875rem;
      line-height: 0.75rem;
      opacity: 0.6;
      font-variant: small-caps; }
    .widget.time-set > .comment > .value {
      font-size: 0.75rem;
      font-weight: 400; }
  .widget.time-set > .start-time {
    display: flex; }
    .widget.time-set > .start-time header {
      font-size: 0.6875rem;
      opacity: 0.6;
      margin-right: 0.5rem;
      font-variant: small-caps; }
    .widget.time-set > .start-time .value {
      font-size: 0.75rem;
      font-weight: 400; }
  .widget.time-set > .timer {
    flex: 1 1 auto;
    padding: 0.75rem 0; }
    .widget.time-set > .timer .value.main {
      line-height: 3rem;
      font-size: 1.5rem; }
    .widget.time-set > .timer .value.secondary {
      line-height: 1.5rem; }
  .widget.time-set .actions {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.75rem 0; }
  .widget.time-set .time-slots {
    margin-top: 1.5rem;
    flex: 1 1 100%; }
    .widget.time-set .time-slots > .time-slot {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      .widget.time-set .time-slots > .time-slot:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
