$line-height: 1.5rem !default;
$column-width: 1rem !default;

.page {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  > header {
    font-size: $line-height;
    font-weight: 300;
    padding: $line-height/2 $column-width;
    margin: $line-height 0;
  }

  > .content > article {
    margin: 0 0 $line-height;
    padding: $line-height $column-width;

    > header {
      font-size: 0.75 * $line-height;
      font-weight: 300;
      padding: $line-height/2 0;
      border-bottom: 1px solid rgba(0,0,0,.1);
    }
  }
}
